@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width:1140px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .row {
        flex-wrap: wrap;
    }
    
    .steps .col,
    .lessons .col,
    .why-us .col-right,
    .why-us .col-left {
        width: 100%;
    }
}
 